version: "3.7"
services:
  postgres:
    image: postgres:14-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
    volumes:
      - "db:/var/lib/postgresql/data"
    

  nndak-api:
    build: .
    restart: always
    depends_on:
      - postgres
    ports:
      - '8081:8080'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secretpS
      - POSTGRES_HOST=postgres
      - DATABASE=nndak
    links:
      - postgres
  
volumes:
  db: