#DATABASE_URL="postgresql://postgres:secretpS@postgres:5432/nndak?schema=public"

WEB_URL="http://localhost:3000"

# default admin logins
ADMIN_EMAIL="admin@email.com"
ADMIN_USERNAME="admin"
ADMIN_PASS="passw0rd"

# postgres config
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="secretpS"
POSTGRES_HOST="postgres"
DATABASE="mhis"
PORT="5432"
SECRET_KEY="thisIsNotSecretAtAll"
# DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${PORT}/${DATABASE}?schema=public"
DATABASE_URL="postgresql://dev:pass@127.0.0.1:5432/mhis?schema=public"


## MAILJET
 
MAILJET_API_KEY="74f33908cf9cfbf68ca49f95fec0f154"
MAILJET_API_SECRET="92ca60abbe91342fae9c0c6b383eb695"

## FHIR SERVER
FHIR_BASE_URL="https://devnndak.intellisoftkenya.com/fhir"