# DATABASE CONFIGURATION

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="secretpS"
POSTGRES_HOST="postgres"
DATABASE="nndak"
PORT="5432"
SECRET_KEY="thisIsNotSecretAtAll"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${PORT}/${DATABASE}?schema=public"
